@import "./reset.css";
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif;
   font-family: "DM Sans", sans-serif;
*/
:root {
  --black: #171718;
  --black-border: #26292d;
  --white: #ffffff;
  --purple: #5c62ec;

  --text-color: var(--black);
  --dark-bg: var(--black);
  --dark-border: var(--black-border);
  --header-text: var(--white);
  --accent: var(--purple);
  /* Light mode */
  --page-bg: var(--white);
  --text-color: var(--black);
  --title-1: var(--accent);

  --project-card-bg: var(--white);
  --project-card-text: var(--black);
  --box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
}
.dark {
  /* Dark mode */
  --page-bg: #252526;
  --text-color: var(--white);
  --title-1: var(--white);
  --project-card-bg: var(--black);
  --project-card-text: var(--white);
  --box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.8);
}
html,
body {
  font-family: "DM Sans", sans-serif;
  letter-spacing: -0.5px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* Light mode */
  background-color: var(--page-bg);
  color: var(--text-color);
}
a {
  color: var(--header-text);
}
.none {
  display: none !important;
}
.title-2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 130%;
  margin-bottom: 20px;
}
.title-1 {
  margin-bottom: 60px;
  font-weight: 700;
  font-size: 60px;
  line-height: 130%;
  color: var(--title-1);
  text-align: center;
}
.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* NAV */
.nav {
  padding: 20px 0;
  background-color: var(--dark-bg);
  color: var(--header-text);
  border-bottom: 1px solid var(--dark-border);
  letter-spacing: normal;
}
.nav-row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  column-gap: 30px;
  row-gap: 20px;
  flex-wrap: wrap;
}
.logo {
  color: var(--header-text);
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  margin-right: auto;
}
.logo strong {
  font-weight: 700;
}
.nav-list {
  display: flex;
  column-gap: 40px;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

.nav-list__link--active {
  position: relative;
}
.nav-list__link--active::before {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  display: block;
  width: 100%;
  height: 3px;
  background-color: var(--accent);
}
.nav-list__link:hover {
  transition: opacity 0.2s ease-in;
}
.nav-list__link:hover {
  opacity: 0.8;
}
.dark-mode-btn {
  order: 9;
  position: relative;
  border-radius: 50px;
  width: 51px;
  height: 26px;
  background-color: #272727;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}
.dark-mode-btn::before {
  position: absolute;
  top: 1px;
  left: 1px;
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--white);
  transition: left 0.2s ease-in;
}
.dark-mode-btn__icon {
  position: relative;
  z-index: 9;
}
.dark-mode-btn--active::before {
  left: 26px;
}
/* header */
.header {
  padding: 40px 0;
  min-height: 695px;
  background-color: var(--dark-bg);
  color: var(--header-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-image: url("./../img/header-bg.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center center;
}
.header__container {
  max-width: 630px;
  padding: 0 15px;
}
.header__title {
  margin-bottom: 20px;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.4;
}
.header__title strong {
  font-size: 60px;
  font-weight: 700;
}
.header__title em {
  font-style: normal;
  color: var(--accent);
}
.header__text {
  margin-bottom: 40px;
  font-size: 18px;
  line-height: 133%;
  letter-spacing: -0.03em;
}
.header__text p + p {
  margin-top: 1em;
}
/* btn */
.btn {
  display: inline-block;
  border-radius: 5px;
  height: 48px;
  padding: 12px 28px;
  background-color: var(--accent);
  letter-spacing: 0.15px;
  font-size: 16px;
  transition: opacity 0.2s ease-in;
}
.btn:hover {
  opacity: 0.8;
}
.btn:active {
  position: relative;
  top: 1px;
}
/* projects */
.section {
  padding: 70px 0;
}
.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
}
.project {
  max-width: 370px;
  background-color: var(--project-card-bg);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
}
.project__img {
  border-radius: 10px;
}
.project__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: var(--project-card-text);
}
/* project-details */
.project-details {
  max-width: 865px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.project-details__cover {
  max-width: 100%;
  margin-bottom: 40px;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}
.project-details__desc {
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  margin-bottom: 30px;
}
.btn-outline {
  color: #000000;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.01em;
  height: 48px;
  border-radius: 5px;
  padding: 12px 20px;
  border: 1px solid #000;
  display: flex;
  column-gap: 10px;
  align-items: center;
  transition: opacity 0.2s ease-in;
}
.btn-outline:hover {
  opacity: 0.8;
}
.btn-outline:active {
  position: relative;
  top: 1px;
}
/* content list */
.content-list {
  max-width: 570px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  row-gap: 40px;
}
.content-list__item {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
}
.content-list__item p + p {
  margin-top: 0.5em;
}
/* footer */
.footer {
  background-color: var(--dark-bg);
  padding: 60px 0 50px;
  margin-top: auto;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  row-gap: 27px;
}
.social {
  display: flex;
  column-gap: 30px;
  align-items: center;
  justify-content: center;
}
.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}
.copyright p + p {
  margin-top: 0.5em;
}
.copyright p {
  color: #ffffff;
}
.email {
  color: var(--accent);
}

@media screen and (max-width: 630px) {
  .header {
    min-height: unset;
  }
  .header__title {
    font-size: 30px;
  }
  .header__title strong {
    font-size: 40px;
  }
  .section {
    padding: 40px 0;
  }
  .title-1 {
    font-size: 40px;
    margin-bottom: 30px;
  }
  .title-2 {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .project__title {
    font-size: 22px;
  }
  .footer {
    padding: 40px 0 30px;
  }
  .social__item {
    width: 28px;
  }
  .social {
    column-gap: 20px;
  }
  .footer__wrapper {
    row-gap: 20px;
  }
  .content-list {
    row-gap: 20px;
  }
  .nav-row {
    justify-content: space-between;
  }
  .dark-mode-btn {
    order: 0;
  }
}
